.activity {
    display: flex;
    justify-content: space-between;
    
    &-section {
        padding-top: 94px;
        padding-bottom: 94px;
        padding-top: 0;
    }

    & > li {
        position: relative;
    }
    
    &__block {
        position: absolute;
        width: 100%;
        padding: 27px 0;
        bottom: 0;
        background-color: rgba(47, 48, 58, 0.8);
    }
    
    &__title {
        @extend %block-title;
        text-align: center;
        color: var(--main-text);
        margin-bottom: 0;
    }
}

