.address {
    margin-top: 20px;
    font-style: normal;
}

.contacts {
    margin: 0;

    &__item {
        margin-bottom: 9px;
        line-height: 1.71;
        color: var(--main-text);
    }
    
    &__item:last-child {
        margin-bottom: 0;    
    }
}
    
.contacts__link {
    color: var(--address-link);
    text-decoration: none;
    transition: color var(--transition-type);
    
    &:hover, 
    &:focus {
        color: var(--brand-color);
    }
}