.address {
    margin-top: 20px;
    font-style: normal;
}

.address__item {
    margin-bottom: 9px;
    line-height: 1.71;
    color: var(--main-text);

    &:last-child {
        margin-bottom: 0;    
    }
}
    
.address__link {
    color: var(--address-link);
    text-decoration: none;
    transition: color var(--transition-type);
    
    &:hover, 
    &:focus {
        color: var(--brand-color);
    }
}