.benefits {
    display: flex;
    margin: 0;
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__box {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 30px;
    background-color: var(--team-section-background);
    border-radius: 4px;
}

.benefits__icon {
    fill: var(--logo-icon-benefit);
}

.benefits__title {
    @extend %block-title;
}

.benefits__text {
    margin: 0;
    line-height: 1.71;
    color: var(--additional-text);
}