.logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: var(--font-weight-bold);
    font-size: 26px;
    line-height: 1.19;
    color: var(--basic-text);
    text-decoration: none;

    footer & {
        color: var(--main-text);
        margin: 0;
    }
}

.logo span {
    color: var(--brand-color);
}