.social-media {
    display: flex;
    justify-content: center;
}

.social-media__item {
    display: block;
    color: var(--section-text);
    text-decoration: none;
    padding: 0;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-media__link {
    padding: 12px;
    display: flex;
    border-radius: 50%;

    transition: background-color var(--transition-type);

    &:hover,
    &:focus {
        background-color: var(--brand-color);
    }
}
    
.social-media__icon {
    fill: var(--logo-icon-social);
    transition: fill var(--transition-type);

    .social-media__link:hover &,
    .social-media__link:focus & {
        fill: var(--light-background);
    }
}

.footer .social-media__link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-type);
    
    &:hover,
    &:focus {
        background-color: var(--brand-color);
    }
}
    
.footer .social-media__icon {
    fill: var(--main-text);
}